.fact-container{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn {
    background-color: #41C9E2;
    padding: .5rem .7rem;
    border-radius: 1rem;
    margin: 1rem;
}

.btn:hover {
    font-size: 1.1rem;
    box-shadow: 0 0.5rem 0.5rem 0;
}

h2 {
    font-size: 2rem;
    font-weight: bolder;
    margin:1.5rem;
}

.card{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #41C9E2;
    height: 5rem;
    margin:.5rem;
    padding: .5rem;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 0 .2rem .2rem;
}