.foot {
    background-color: hsl(200, 31%, 46%);
    box-sizing: border-box;
    min-width: 800px;
    border-radius: 1.5rem 1.5rem 0 0;
    min-height: 4rem;
    font-size: 2rem;
    color: aliceblue;
    text-align: center;
    padding: 1rem;
}

.foot-text{
    max-width: 600px;
    margin: auto;
}