.root {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}

.container {
  font-size: 24px;
  margin: 25px;
  width: 350px;
  height: 200px;
  outline: dashed 1px black;
  position: relative;
}